body {
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  max-width: 700px;
}

p {
  padding-top: 1em;
  max-width: 600px;
}

b {
  font-weight: bold;
}